@page "/service"
@using BlazorApp1.Data
<h3>Services</h3>
@* Customer Information Section *@
<fieldset class="form-group card p-3 mb-3">
    <legend>Contact Information</legend>
    <div class="mb-3">
        <label class="form-label" for="name">Contact Name:</label>
        <input class="form-control @(ErrorList.ContainsKey("contact_name") ? "is-invalid" :"")" type="text" id="name" @bind="ContactName" required />
        @if (ErrorList.ContainsKey("contact_name"))
        {
            <div class="alert alert-danger mt-3">
                @ErrorList["contact_name"];
            </div>
        }
    </div>
    <div class="mb-3">
        <label class="form-label" for="phone">Phone Number:</label>
        <input class="form-control" type="text" id="phone" @bind="PhoneNumber" placeholder="123-456-7890" required />
        @if (ErrorList.ContainsKey("phone_number"))
        {
            <div class="alert alert-danger mt-3">
                @ErrorList["phone_number"];
            </div>
        }
    </div>
    <div class="mb-3">
        <label class="form-label" for="years">Number of Years as Customer:</label>
        <input class="form-control" type="number" id="years" @bind="YearsAsCustomer" min="0" step="2" required />
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="current_customer" required />
        <label class="form-check-label" for="current_customer">Current Customer</label>
    </div>
</fieldset>
@* Service Section *@
<fieldset class="form-group card p-3 mb-3">
    <legend>Service information</legend>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="service_type" id="internet"
               checked="@(ServiceType=="INTERNET")"
        @onclick="@(() =>ServiceType="INTERNET")" />
        <label class="form-check-label" for="internet">Internet Only</label>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="service_type" id="tv"
               checked="@(ServiceType=="TV")"
        @onclick="@(() =>ServiceType="TV")" />
        <label class="form-check-label" for="tv">TV Only</label>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="service_type" id="internet_tv"
               checked="@(ServiceType=="INTERNET_TV")"
        @onclick="@(() =>ServiceType="INTERNET_TV")" />
        <label class="form-check-label" for="internet_tv">Internet and TV</label>
    </div>
</fieldset>
<fieldset class="form-group card p-3 mb-3">
    <legend>Required Service</legend>
    <div class="mb-3">
        <label class="form-label" for="reason">Reason for Request</label>
        <select class="form-select" id="reason" @bind="Reason">
            <option selected disabled>Reason for request</option>
            <option value="interupt">Service Interuption</option>
            <option value="new">New Service</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="request_info">Request Information</label>
        <textarea class="form-control" id="request_info" rows="5" @bind="RequestInformation"></textarea>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" @onclick="DisplayData">Submit Request</button>
        <button class="btn btn-primary" @onclick="AddToList">Add To List</button>
        <button class="btn btn-primary" @onclick="ClearList">Clear the List</button>
        <button class="btn btn-primary" @onclick="SaveToFile">Save To File</button>
        <button class="btn btn-primary" @onclick="ReadFromFile">Read From File</button>
        <button class="btn btn-primary" @onclick="DisplayRequests">Display Requests</button>
        @* Empty the list
        Read from the file
        parse the file
        add the object to the list *@
    </div>
    @if (Success)
    {
        <div class="alert alert-info">
            <p>Request successfully submitted</p>
            <p>@((MarkupString)@Output)</p>
        </div>
    }
</fieldset>




@code {

    }

